@import "bootstrap-sprockets";
@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.fb {
  color: #0066FF;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
h1{
  text-align: center;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: block;
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.entries {
  list-style: none;
  padding: 0;
  li {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 30px;
    position: absolute;
    margin-left: 5px;
    font-size: 18px;
  }
  .title {
    font-size: 17px;
    color: #0099CC;
    display: block;

    img {
      display: block;
      padding: 0px 0;
    }
  }
  .body {
    line-height:2;
    font-size:13px;
  }

  .timestamp {
    color: $gray-light;
    display: block;
    .delete {
      color: #FF0000;
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .panel-heading {
    .avatar {
      display: inline-block;
      .avatar-user img {
        width:70px;
        height:60px;
      }
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.textTitle {
  height: 40px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
  li {
    line-height: 7;
  }
}
.panel-body {
  .entry-content {
    .entry-body {
      font-size: 14px;
      line-height: 1.34;
      float: left;
      margin-bottom: 20px;
    }
  }
}
.user-comment {
  img {
    width: 40px;
    height: 30px;
  }
  .delete {
  float: right;
  color: #FF0000;
  }
}
.user-index {
  .username {
    font-size: 16px;
  }
}
.users li {
  margin-top:80px;
  img {
    width: 70px;
    height: 70px;
  }
  a {
    font-size: 18px;

  }
}
